body {
    background-color: #e2edff;
    color: #081e42;
    font-family: 'Roboto Condensed', sans-serif;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
}
#title {
    background-color: #caddff;
}
    #title p {
     font-size: 10px;
    }
#main {
    margin: 10;
}
/* Bold Font: font-family: 'Oswald', sans-serif;*/